soplib.client/SopLib/TestClient/Service References/UserService/UserServiceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.lib.sop/" targetNamespace="http://services.lib.sop/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="add" type="tns:add" />
  <xs:element name="addResponse" type="tns:addResponse" />
  <xs:element name="delete" type="tns:delete" />
  <xs:element name="deleteResponse" type="tns:deleteResponse" />
  <xs:element name="get" type="tns:get" />
  <xs:element name="getResponse" type="tns:getResponse" />
  <xs:element name="update" type="tns:update" />
  <xs:element name="updateResponse" type="tns:updateResponse" />
  <xs:complexType name="delete">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="update">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long" />
      <xs:element minOccurs="0" name="arg1" type="tns:userDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roles" nillable="true" type="tns:roleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="roleDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="get">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="add">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:userDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>