soplib.client/SopLib/TestClient/Service References/RoleService/RolesServiceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.lib.sop/" targetNamespace="http://services.lib.sop/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="get" type="tns:get" />
  <xs:element name="getList" type="tns:getList" />
  <xs:element name="getListResponse" type="tns:getListResponse" />
  <xs:element name="getResponse" type="tns:getResponse" />
  <xs:complexType name="get">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roles" nillable="true" type="tns:roleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="roleDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getList">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:roleDto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>